fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
bcrypt
passlib
python-multipart
captcha
pillow
reportlab
pypdf
fonttools
google-generativeai
pandas
qrcode[pil]
smbprotocol
apscheduler
ldap3
pytest